<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.finance.mapper.XinhuCustappyMapper">
    
    <resultMap type="XinhuCustappy" id="XinhuCustappyResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="optdt"    column="optdt"    />
        <result property="optid"    column="optid"    />
        <result property="optname"    column="optname"    />
        <result property="applydt"    column="applydt"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="isturn"    column="isturn"    />
        <result property="custid"    column="custid"    />
        <result property="custname"    column="custname"    />
        <result property="comid"    column="comid"    />
    </resultMap>

    <sql id="selectXinhuCustappyVo">
        select id, uid, optdt, optid, optname, applydt, content, status, isturn, custid, custname, comid from xinhu_custappy
    </sql>

    <select id="selectXinhuCustappyList" parameterType="XinhuCustappy" resultMap="XinhuCustappyResult">
        <include refid="selectXinhuCustappyVo"/>
        <where>  
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="optdt != null "> and optdt = #{optdt}</if>
            <if test="optid != null "> and optid = #{optid}</if>
            <if test="optname != null  and optname != ''"> and optname like concat('%', #{optname}, '%')</if>
            <if test="applydt != null "> and applydt = #{applydt}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isturn != null "> and isturn = #{isturn}</if>
            <if test="custid != null "> and custid = #{custid}</if>
            <if test="custname != null  and custname != ''"> and custname like concat('%', #{custname}, '%')</if>
            <if test="comid != null "> and comid = #{comid}</if>
        </where>
    </select>
    
    <select id="selectXinhuCustappyById" parameterType="Long" resultMap="XinhuCustappyResult">
        <include refid="selectXinhuCustappyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertXinhuCustappy" parameterType="XinhuCustappy" useGeneratedKeys="true" keyProperty="id">
        insert into xinhu_custappy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="optdt != null">optdt,</if>
            <if test="optid != null">optid,</if>
            <if test="optname != null and optname != ''">optname,</if>
            <if test="applydt != null">applydt,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="status != null">status,</if>
            <if test="isturn != null">isturn,</if>
            <if test="custid != null">custid,</if>
            <if test="custname != null and custname != ''">custname,</if>
            <if test="comid != null">comid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="optdt != null">#{optdt},</if>
            <if test="optid != null">#{optid},</if>
            <if test="optname != null and optname != ''">#{optname},</if>
            <if test="applydt != null">#{applydt},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="isturn != null">#{isturn},</if>
            <if test="custid != null">#{custid},</if>
            <if test="custname != null and custname != ''">#{custname},</if>
            <if test="comid != null">#{comid},</if>
         </trim>
    </insert>

    <update id="updateXinhuCustappy" parameterType="XinhuCustappy">
        update xinhu_custappy
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="optdt != null">optdt = #{optdt},</if>
            <if test="optid != null">optid = #{optid},</if>
            <if test="optname != null and optname != ''">optname = #{optname},</if>
            <if test="applydt != null">applydt = #{applydt},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isturn != null">isturn = #{isturn},</if>
            <if test="custid != null">custid = #{custid},</if>
            <if test="custname != null and custname != ''">custname = #{custname},</if>
            <if test="comid != null">comid = #{comid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXinhuCustappyById" parameterType="Long">
        delete from xinhu_custappy where id = #{id}
    </delete>

    <delete id="deleteXinhuCustappyByIds" parameterType="String">
        delete from xinhu_custappy where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>