<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.hr.mapper.XinhuHrdemintMapper">
    
    <resultMap type="XinhuHrdemint" id="XinhuHrdemintResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="optdt"    column="optdt"    />
        <result property="optid"    column="optid"    />
        <result property="optname"    column="optname"    />
        <result property="types"    column="type"    />
        <result property="applydt"    column="applydt"    />
        <result property="contents"    column="contents"    />
        <result property="status"    column="status"    />
        <result property="isturn"    column="isturn"    />
        <result property="zhiwei"    column="zhiwei"    />
        <result property="xinzi"    column="xinzi"    />
        <result property="renshu"    column="renshu"    />
        <result property="content"    column="content"    />
        <result property="bumen"    column="bumen"    />
        <result property="name"    column="name"    />
        <result property="msuser"    column="msuser"    />
        <result property="msuserid"    column="msuserid"    />
        <result property="mscont"    column="mscont"    />
        <result property="state"    column="state"    />
        <result property="msdt"    column="msdt"    />
        <result property="comid"    column="comid"    />
    </resultMap>

    <sql id="selectXinhuHrdemintVo">
        select id, uid, optdt, optid, optname, types, applydt, contents, status, isturn, zhiwei, xinzi, renshu, content, bumen, name, msuser, msuserid, mscont, state, msdt, comid from xinhu_hrdemint
    </sql>

    <select id="selectXinhuHrdemintList" parameterType="XinhuHrdemint" resultMap="XinhuHrdemintResult">
        <include refid="selectXinhuHrdemintVo"/>
        <where>  
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="optdt != null "> and optdt = #{optdt}</if>
            <if test="optid != null "> and optid = #{optid}</if>
            <if test="optname != null  and optname != ''"> and optname like concat('%', #{optname}, '%')</if>
            <if test="types != null "> and types = #{types}</if>
            <if test="applydt != null "> and applydt = #{applydt}</if>
            <if test="contents != null  and contents != ''"> and contents = #{contents}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isturn != null "> and isturn = #{isturn}</if>
            <if test="zhiwei != null  and zhiwei != ''"> and zhiwei = #{zhiwei}</if>
            <if test="xinzi != null  and xinzi != ''"> and xinzi = #{xinzi}</if>
            <if test="renshu != null "> and renshu = #{renshu}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="bumen != null  and bumen != ''"> and bumen = #{bumen}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="msuser != null  and msuser != ''"> and msuser = #{msuser}</if>
            <if test="msuserid != null  and msuserid != ''"> and msuserid = #{msuserid}</if>
            <if test="mscont != null  and mscont != ''"> and mscont = #{mscont}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="msdt != null "> and msdt = #{msdt}</if>
            <if test="comid != null "> and comid = #{comid}</if>
        </where>
    </select>
    
    <select id="selectXinhuHrdemintById" parameterType="Long" resultMap="XinhuHrdemintResult">
        <include refid="selectXinhuHrdemintVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertXinhuHrdemint" parameterType="XinhuHrdemint" useGeneratedKeys="true" keyProperty="id">
        insert into xinhu_hrdemint
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="optdt != null">optdt,</if>
            <if test="optid != null">optid,</if>
            <if test="optname != null and optname != ''">optname,</if>
            <if test="types != null">types,</if>
            <if test="applydt != null">applydt,</if>
            <if test="contents != null and contents != ''">contents,</if>
            <if test="status != null">status,</if>
            <if test="isturn != null">isturn,</if>
            <if test="zhiwei != null and zhiwei != ''">zhiwei,</if>
            <if test="xinzi != null and xinzi != ''">xinzi,</if>
            <if test="renshu != null">renshu,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="bumen != null and bumen != ''">bumen,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="msuser != null and msuser != ''">msuser,</if>
            <if test="msuserid != null and msuserid != ''">msuserid,</if>
            <if test="mscont != null and mscont != ''">mscont,</if>
            <if test="state != null">state,</if>
            <if test="msdt != null">msdt,</if>
            <if test="comid != null">comid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="optdt != null">#{optdt},</if>
            <if test="optid != null">#{optid},</if>
            <if test="optname != null and optname != ''">#{optname},</if>
            <if test="types != null">#{types},</if>
            <if test="applydt != null">#{applydt},</if>
            <if test="contents != null and contents != ''">#{contents},</if>
            <if test="status != null">#{status},</if>
            <if test="isturn != null">#{isturn},</if>
            <if test="zhiwei != null and zhiwei != ''">#{zhiwei},</if>
            <if test="xinzi != null and xinzi != ''">#{xinzi},</if>
            <if test="renshu != null">#{renshu},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="bumen != null and bumen != ''">#{bumen},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="msuser != null and msuser != ''">#{msuser},</if>
            <if test="msuserid != null and msuserid != ''">#{msuserid},</if>
            <if test="mscont != null and mscont != ''">#{mscont},</if>
            <if test="state != null">#{state},</if>
            <if test="msdt != null">#{msdt},</if>
            <if test="comid != null">#{comid},</if>
         </trim>
    </insert>

    <update id="updateXinhuHrdemint" parameterType="XinhuHrdemint">
        update xinhu_hrdemint
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="optdt != null">optdt = #{optdt},</if>
            <if test="optid != null">optid = #{optid},</if>
            <if test="optname != null and optname != ''">optname = #{optname},</if>
            <if test="types != null">types = #{types},</if>
            <if test="applydt != null">applydt = #{applydt},</if>
            <if test="contents != null and contents != ''">contents = #{contents},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isturn != null">isturn = #{isturn},</if>
            <if test="zhiwei != null and zhiwei != ''">zhiwei = #{zhiwei},</if>
            <if test="xinzi != null and xinzi != ''">xinzi = #{xinzi},</if>
            <if test="renshu != null">renshu = #{renshu},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="bumen != null and bumen != ''">bumen = #{bumen},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="msuser != null and msuser != ''">msuser = #{msuser},</if>
            <if test="msuserid != null and msuserid != ''">msuserid = #{msuserid},</if>
            <if test="mscont != null and mscont != ''">mscont = #{mscont},</if>
            <if test="state != null">state = #{state},</if>
            <if test="msdt != null">msdt = #{msdt},</if>
            <if test="comid != null">comid = #{comid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXinhuHrdemintById" parameterType="Long">
        delete from xinhu_hrdemint where id = #{id}
    </delete>

    <delete id="deleteXinhuHrdemintByIds" parameterType="String">
        delete from xinhu_hrdemint where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>