<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrmlstudio.hr.mapper.XinhuHrtrsalaryMapper">
    
    <resultMap type="XinhuHrtrsalary" id="XinhuHrtrsalaryResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="applyname"    column="applyname"    />
        <result property="optdt"    column="optdt"    />
        <result property="optid"    column="optid"    />
        <result property="optname"    column="optname"    />
        <result property="applydt"    column="applydt"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="isturn"    column="isturn"    />
        <result property="effectivedt"    column="effectivedt"    />
        <result property="floats"    column="floats"    />
        <result property="ranking"    column="ranking"    />
        <result property="comid"    column="comid"    />
    </resultMap>

    <sql id="selectXinhuHrtrsalaryVo">
        select id, uid, applyname, optdt, optid, optname, applydt, content, status, isturn, effectivedt, floats, ranking, comid from xinhu_hrtrsalary
    </sql>

    <select id="selectXinhuHrtrsalaryList" parameterType="XinhuHrtrsalary" resultMap="XinhuHrtrsalaryResult">
        <include refid="selectXinhuHrtrsalaryVo"/>
        <where>  
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="applyname != null  and applyname != ''"> and applyname like concat('%', #{applyname}, '%')</if>
            <if test="optdt != null "> and optdt = #{optdt}</if>
            <if test="optid != null "> and optid = #{optid}</if>
            <if test="optname != null  and optname != ''"> and optname like concat('%', #{optname}, '%')</if>
            <if test="applydt != null "> and applydt = #{applydt}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isturn != null "> and isturn = #{isturn}</if>
            <if test="effectivedt != null "> and effectivedt = #{effectivedt}</if>
            <if test="floats != null "> and floats = #{floats}</if>
            <if test="ranking != null  and ranking != ''"> and ranking = #{ranking}</if>
            <if test="comid != null "> and comid = #{comid}</if>
        </where>
    </select>
    
    <select id="selectXinhuHrtrsalaryById" parameterType="Long" resultMap="XinhuHrtrsalaryResult">
        <include refid="selectXinhuHrtrsalaryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertXinhuHrtrsalary" parameterType="XinhuHrtrsalary">
        insert into xinhu_hrtrsalary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uid != null">uid,</if>
            <if test="applyname != null and applyname != ''">applyname,</if>
            <if test="optdt != null">optdt,</if>
            <if test="optid != null">optid,</if>
            <if test="optname != null and optname != ''">optname,</if>
            <if test="applydt != null">applydt,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="status != null">status,</if>
            <if test="isturn != null">isturn,</if>
            <if test="effectivedt != null">effectivedt,</if>
            <if test="floats != null">floats,</if>
            <if test="ranking != null and ranking != ''">ranking,</if>
            <if test="comid != null">comid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="uid != null">#{uid},</if>
            <if test="applyname != null and applyname != ''">#{applyname},</if>
            <if test="optdt != null">#{optdt},</if>
            <if test="optid != null">#{optid},</if>
            <if test="optname != null and optname != ''">#{optname},</if>
            <if test="applydt != null">#{applydt},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="isturn != null">#{isturn},</if>
            <if test="effectivedt != null">#{effectivedt},</if>
            <if test="floats != null">#{floats},</if>
            <if test="ranking != null and ranking != ''">#{ranking},</if>
            <if test="comid != null">#{comid},</if>
         </trim>
    </insert>

    <update id="updateXinhuHrtrsalary" parameterType="XinhuHrtrsalary">
        update xinhu_hrtrsalary
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="applyname != null and applyname != ''">applyname = #{applyname},</if>
            <if test="optdt != null">optdt = #{optdt},</if>
            <if test="optid != null">optid = #{optid},</if>
            <if test="optname != null and optname != ''">optname = #{optname},</if>
            <if test="applydt != null">applydt = #{applydt},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isturn != null">isturn = #{isturn},</if>
            <if test="effectivedt != null">effectivedt = #{effectivedt},</if>
            <if test="floats != null">floats = #{floats},</if>
            <if test="ranking != null and ranking != ''">ranking = #{ranking},</if>
            <if test="comid != null">comid = #{comid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXinhuHrtrsalaryById" parameterType="Long">
        delete from xinhu_hrtrsalary where id = #{id}
    </delete>

    <delete id="deleteXinhuHrtrsalaryByIds" parameterType="String">
        delete from xinhu_hrtrsalary where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>